# Laravel
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/*.key
backend/storage/app/*
!backend/storage/app/.gitignore
backend/storage/framework/cache/*
!backend/storage/framework/cache/.gitignore
backend/storage/framework/sessions/*
!backend/storage/framework/sessions/.gitignore
backend/storage/framework/testing/*
!backend/storage/framework/testing/.gitignore
backend/storage/framework/views/*
!backend/storage/framework/views/.gitignore
backend/storage/logs/*
!backend/storage/logs/.gitignore

# Docker
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
